body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

body p {
  color: white;
  font-family: "Caveat", cursive;
  font-size: 3vw;
  margin-top: 20px;
  margin-bottom: 0px;
}

html {
  background-color: #2c384d;
}

span {
  text-decoration: underline;
  text-underline-offset: 20%;
  text-decoration-thickness: 1px;
}

#gameboard {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow:
    -10px 0px 13px -7px rgb(148, 148, 148),
    10px 0px 13px -7px rgb(148, 148, 148),
    3px 5px 15px 5px rgb(148, 148, 148);
  box-shadow:
    -10px 0px 23px -7px rgb(148, 148, 148),
    10px 0px 23px -7px rgb(148, 148, 148),
    3px 5px 25px 5px rgb(148, 148, 148);
  border: 7px solid #2c384d;
  border-style: ridge;
}

.square {
  width: 70px;
  height: 70px;
  position: relative;
}

.square svg {
  height: 50px;
  width: 50px;
  margin: 10px;
  position: relative;
  z-index: -9;
  overflow: visible;
}

path {
  position: relative;
  z-index: -10;
}

.piece {
  position: relative;
  z-index: 9;
}

.beige {
  background-color: rgb(110, 110, 98);
}

.brown {
  background-color: brown;
}

.Black {
  fill: black;
}

.White {
  fill: white;
}

@media screen and (max-width: 600px) {
  #gameboard {
    width: 90vw;
    height: 90vw;
  }

  .square {
    width: 11.25vw;
    height: 11.25vw;
  }

  .square svg {
    height: 7.5vw;
    width: 7.5vw;
    margin: 1.875vw;
  }
}
